[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
psycopg2 = "*"
django-environ = "*"
django-cors-headers = "*"
django-dbbackup = "*"
django-pipeline = "*"
django-axes = "*"

[dev-packages]

[requires]
python_version = "3.10"
